{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'templatemo-seo-dream.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="bg-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-8 align-self-center">
                <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2>{{section.settings.title}}</h2>
                      <h3>{{section.settings.sub_title}}</h3>
                      <h3>{{section.settings.sub_title_2}}</h3>
                    </div>
                    <div class="col-lg-12  mt-5 pt-5">
                      <div class="main-green-button scroll-to-section">
                        <a href="#contact">Buy now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="title">Artistic. Beautiful. One-of-a-kind.<br> The Ultimate Hanuman Chalisa Gift</h2>
    </div>
  </div>
</div>

<div class="section-second">
  <div class="container">
    <div class="row p-reletive">
      <div class="col-lg-12">
        <div class="row mobile-text-center">
          <div class="col-lg-8">
            <h3 class="box1-content">Millions of people read Hanuman Chalisa Everyday to draw strendth, courage, comfort and peace of mind. Imagine them, receiving this beautifully sculpted box depicting Hanuman in 9 different forms.</h3>
          </div>
          <div class="col-lg-4">
			<img src="{{section.settings.background_image | img_url:'master'}}" class="box1-img">
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>

<div class="section-third">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-12">
		<div class="img-group text-center my-3">
        	<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H11.jpg?v=1633938536" class="box2-img">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H12.jpg?v=1633938536" class="box2-img">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H13.jpg?v=1633938536" class="box2-img">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H14.jpg?v=1633938536" class="box2-img">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H15.jpg?v=1633938536" class="box2-img">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H16.jpg?v=1633938536" class="box2-img" style="width: 240px;">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H17.jpg?v=1633938536" class="box2-img">
	    </div>
      </div>
    </div>
  </div>
</div>

<div class="section-four">
  <div class="container">
    <h2 class="title text-center">Hanuman Chalisa - Your Unforgettable Gift</h2>
    <div class="row my-5">
      <div class="col-lg-6">
		<iframe width="560" height="330" src="https://www.youtube.com/embed/83GpjITUH34?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>		
      </div>
      <div class="col-lg-6">
            <p class="">Gift the Unforgettable Hanuman Chalisa or buy it for yourself. A memorable gift for any festive occasion, auspicious ceremony; for someone starting a new venture, moving to a new house or office.</p>
<p>A Great Gift for a Hanuman Bhakt .</p>
<p>“Sankat kate mite sab peera jo sumirau Hanumat Balbeera." - Problem ceases, pain goes away. When one remembers hanuman, the mighty hero.</p>
<p>Millions of people read Hanuman Chalisa everyday to draw strength, courage, comfort and peace of mind.</p>
<p>My India by Devdutt brings to you this eternal prayer for positive energy in a artisanal miniature book nestled in its very own memorable case.</p>
<p>Every doha, every chaupai is beautifully illustrated by Devdutt, India’s favourite mythologist, author, and illustrator. Each Line in Hanuman Chalisa allows us to leap into the vast body of Hindu thought, a heritage of over 4000 years.</p>
<p>A Hanuman Chalisa book like no other. Carry it in your laptop bag, purse or keep it in its own memorable case in a Mandir or an office desk.</p>
      </div>
      <div class="col-md-12 my-3">
        <div class="img-group text-center">
	        <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H18.jpg?v=1633938536" class="box2-img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-five">
  <div class="container-fluid p-reletive">
    <div class="row my-5">
      <div class="col-lg-3">
        <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-001.png?v=1633945269" class="box5-img">
      </div>
      <div class="col-lg-9">
        <h2 class="product-landing-title">Hanuman Chalisa - Your Unforgettable Gift</h2>
        <div class="row">
          <div class="col-md-6 mb-3">
{% assign product = all_products[section.settings.product] %}
{% assign onboarding = false %}

{% assign hover_zoom = 'disabled' %}
{% if section.settings.enable_hover_zoom %}
  {% assign hover_zoom = 'replace' %}
{% endif %}

{% if product.empty? %}
  {% assign onboarding = true %}
{% endif %}
<script
  type="application/json"
  data-section-type="dynamic-featured-product"
  data-section-id="{{ blocks.section.id }}"
  data-section-data
>
  {
    "settings": {
      "cart_redirection": {{ section.settings.product_cart_redirect | json }},
      "money_format": {{ shop.money_format | strip_html | json }},
      "enable_video_autoplay": {{ section.settings.enable_video_autoplay | json }},
      "thumbnail_position": {{ settings.gallery_thumbnail_position | json }},
      "hover_zoom": {{ hover_zoom | json }},
      "click_to_zoom": "disabled",
      "swatches_enable": {{ settings.swatches_enable | json }}
    },
    "context": {
      "product_available": {{ 'product.buttons.add_to_cart' | t | json }},
      "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
    },
    "product": {% unless onboarding %}{{ product | json }}{% else %}false{% endunless} %}
  }
</script>            
            <div class="featured-product--inner">
              {%
                include 'landing-product',
                is_product_modal: false,
                hide_description: true,
                onboarding: onboarding,
                click_to_zoom: 'disabled',
                hover_zoom: hover_zoom,
              %}
            </div>
          </div>
          <div class="col-md-6 mb-3">
{% assign product = all_products[section.settings.product_2] %}
{% assign onboarding = false %}

{% assign hover_zoom = 'disabled' %}
{% if section.settings.enable_hover_zoom %}
  {% assign hover_zoom = 'replace' %}
{% endif %}

{% if product.empty? %}
  {% assign onboarding = true %}
{% endif %}
<script
  type="application/json"
  data-section-type="dynamic-featured-product"
  data-section-id="{{ blocks.section.id }}"
  data-section-data 
>
  {
    "settings": {
      "cart_redirection": {{ section.settings.product_cart_redirect | json }},
      "money_format": {{ shop.money_format | strip_html | json }},
      "enable_video_autoplay": {{ section.settings.enable_video_autoplay | json }},
      "thumbnail_position": {{ settings.gallery_thumbnail_position | json }},
      "hover_zoom": {{ hover_zoom | json }},
      "click_to_zoom": "disabled",
      "swatches_enable": {{ settings.swatches_enable | json }}
    },
    "context": {
      "product_available": {{ 'product.buttons.add_to_cart' | t | json }},
      "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
    },
    "product": {% unless onboarding %}{{ product | json }}{% else %}false{% endunless} %}
  }
</script>            
            <div class="featured-product--inner">
              {%
                include 'landing-product',
                is_product_modal: false,
                hide_description: true,
                onboarding: onboarding_2,
                click_to_zoom: 'disabled',
                hover_zoom: hover_zoom,
              %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="img-group text-center my-5">
  <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-002.png?v=1633938536" class="box2-img">
</div>
<div class="section-six my-5">
  <div class="container">
    <div class="row p-reletive">
      <div class="col-lg-12">
        <div class="row mobile-text-center">
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-030.png?v=1634020323" class="box1-img">
          </div>
          <div class="col-lg-8">
            <h3 class="box1-content"><p>Even though this book is just 2.4" x 2.9" in size it has the entire Hanuman Chalisa in Hindi with english translation and beautiful art by Devdutt. All illustrations are drawn by Devdutt and are being used with his permission. For a more detailed explanation and stories about Hanuman Chalisa don’t forget to buy Devdutt’s best selling book My Hanuman Chalisa by Rupa Publication.</p></h3>
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>

<div class="section-seven my-5 py-5">
  <div class="container">
    <div class="row justify-content-center p-reletive">
      <div class="col-lg-8">
        <div class="row mobile-text-center">
          <div class="col-lg-8">
            <p class="testimonial-text fs-20">“In Hanuman Chalisa, each line allows us to leap into the vast body of Hindu thought, a heritage of over 4000 years ago, much as Hanuman leapt from his cradle to the sun, or across the sea towards Lanka, or over land towards the mountain bearing the Sanjivini, always returning to find Ram. From the particular we traverse the universal and finally return to the personal.”</p>
			<p class="testimonial-author fs-20">Devdutt Pattanaik</p>
          </div>
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H29.jpg?v=1635421356" class="box1-img">
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>

<div class="section-eight my-5 py-5 p-reletive">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="product-landing-title my-5">This is No Ordinary Box… </h2>
        <h3 class="text-center mb-5 Roboto-Regular">This beautifully sculpted box is designed to remind us
about different aspects of Hanuman.</h2>
        <div class="row justify-content-center">
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-031.png?v=1634021110" class="box7-img">
            <p class="testimonial-text font-rt">“We see Hanuman as a singer on the box cover, Hanuman is singing songs in the praise of Ram”</p>
          </div>
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-013.png?v=1634021110" class="box7-img">
            <p class="testimonial-text font-rt">“We see Hanuman as Bhima’s teacher, teaching Bhima humility.”</p>
          </div>
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-012.png?v=1634021110" class="box7-img">
            <p class="testimonial-text font-rt">“We see Hanuman as Ram’s messenger giving Ram’s ring to Sita, and as a student of the Sun god doing Surya Namaskar.”</p>
          </div>
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-015.png?v=1634021110" class="box7-img">
            <p class="testimonial-text font-rt">“We see Hanuman in his mighty form jumping across the sea to Lanka which is described in Sunderkand.”</p>
          </div>
          <div class="col-lg-4">
			<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-014.png?v=1634021110" class="box7-img">
            <p class="testimonial-text font-rt">“We see Hanuman in his utmost humility despite all his talents, strengths, skill, intelligence, creativity, and playing the Veena or the lute as a musician.”</p>
          </div>
        </div> 
        <div class="text-center"><a href="https://positivelyperfect.me/products/my-india-by-devdutt-hanuman-chalisa" class="landing-buy-btn " data-product-atc="">
            <span class="atc-button--text">
                Buy Now
            </span>
          </a>        
        </div>
      </div>
    </div>
    <div class="">
    	<img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-016_1f83c03a-ca13-4ae0-af19-3f6ce095414d.png?v=1635830668" class="box8-img">
    </div>
  </div>
</div>

<div class="section-nine my-5 py-5 p-reletive">
  <div class="container ">
    <h2 class="product-landing-title my-5">Testimonials</h2>
    <h3 class="text-center mb-5 Roboto-Regular">Showcasing different use case scenarios</h2>
    <div class="loop owl-carousel">
      <div class="item">
        <p class="testimonial-text">“My office takes care of all the usual gifting but for few select people I like to pick things up myself and this is always tough for they have everything so I am always on a look out for something different. This Hanuman Chalisa Gift is just perfect. When I gift this I always receive a call back from my friends and customers telling me they have never seen something so nice. Best of all when I go and meet them next time I see it right next to them on their desk on in office Mandir so I am happy that my gift is put to good use and not tucked away in drawer or passed around.”</p>
        <p class="testimonial-author"><b>Ravi Kapur</b>, Managing Director Absolute Security, Delhi; a Gazelles Coach.</p>
      </div>
      <div class="item">
        <p class="testimonial-text">“Finding the right gift for Diwali is always a challenge for me. I don't give gifts just for the sake of giving gifts. I like to think about what the person will appreciate and then select a gift they would like to keep. Otherwise on Diwali people are just circulating gifts and I don't like mine to be circulated. This Diwali Hanuman Chalisa was really good for everyone appreciated it. I have seen it in people's office and the fact that they have it in front of them which remind them of me is great. It was a great option. Now need to start thinking next Diwali.”</p>
        <p class="testimonial-author"><b>Rohit</b>, , Real Estate Investment Advisor, Gurgaon </p>
      </div>
      <div class="item">
        <p class="testimonial-text">“Gifted it to my daughter who was going to UK to study. She would be living all alone and since childhood she narrates hanuman chalisa and knows it by heart. I could not have found a better gift to give to her. ”</p>
        <p class="testimonial-author"><b>Deepakshi</b>, Mother Bangalore </p>
      </div>
      <div class="item">
        <p class="testimonial-text">“The tiny book stand to rest the hanuman chalisa is my favourite part of the whole piece. I know its just a stand but to be it shows the detail level you all have gone to create it. I love it absolutely and it is right by my work bench. I am an artist and I love to own creative things which are not another me too. ”</p>
        <p class="testimonial-author"><b>Ritu Grover</b>, Coimbature </p>
      </div>
      <div class="item">
        <p class="testimonial-text">“I love devdutt's work and art. Big fan of his book My Hanuman Chalisa. We used this as a return presents for our 20th wedding anniversary party. The wedding planners suggested this to us as something unique and we loved the idea. Devdutt's art makes this box really special. To be honest this book is really not for reading everyday for its rather small but that's not the point. Few of my friends have kept the box in the mandir and they carry the miniature book in their laptop bag. For me I am just happy that people are using what I gifted. ”</p>
        <p class="testimonial-author"><b>Sujata Kashyap</b>, Mumbai </p>
      </div>
    </div>
    <div class="text-center">
      <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/H22.jpg?v=1634036668" class="testimonials-bot-img">
    </div>
    <div class="text-center mt-5"><a href="https://positivelyperfect.me/products/my-india-by-devdutt-hanuman-chalisa" class="landing-buy-btn " data-product-atc="">
      <span class="atc-button--text">
        Add To cart
      </span>
      </a>        
    </div>
    
  </div>  
</div>

<div class="section-ten my-5 p-reletive">
  <div class="container ">
    <h2 class="product-landing-title my-5">My India by Devdutt Pattnaik</h2>
    <div class="row">
      <div class="col-md-4 br-1">
        <p class="block-title">About Devdutt Pattanaik</p>
        <p class="block-content">Best Selling Author, Leadership Coach, Mythologist Devdutt Pattanaik writes on relevance of mythology in modern times, especially in areas of management, governance and leadership. He is the author of more than 60 books and over 1000 columns with many bestsellers to his credit. He consults organisations on culture, diversity and leadership and also consults various television channels and filmmakers on storytelling. His TV shows include Business Sutra on CNBC-TV18 and Devlok on Epic TV. </p>
      </div>
      <div class="col-md-4 br-1">
        <p class="block-title">A My India by Devdutt Merchandise</p>
        <p class="block-content">An eclectic collection of gifts by Devdutt, India's favourite mythologist who has written over 60 books and 1000 columns on Indian Mythology and its relevance in modern times. My India by Devdutt is Devdutt's own brand of merchandise which he has launched in collaboration with NineStory. The aim of My India merchandise is to encourage you to view different frameworks, discover new ideas and beliefs in bite-size bundles. Products that can become a part of your daily life, something you can hold, see, observe, explore and reflect so that you can expand your mind towards limitless possibilities. View entire My India by Devdutt Collection at: https://positivelyperfect.me/collections/myindia-by-devdutt</p>
      </div>
      <div class="col-md-4 br-1">
        <img class="nine-story-logo" src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/Backup_of_logo_ninestory.jpg?v=1635829598"></img>
        <p class="block-content">A product design company started by Nidhi Jain Seth, founder of Pinnacle and Positively Perfect. NineStory helps brands, authors and trainers to have their own exclusive line of merchandise (gifts) which connects with their customer base. Gifts customers love to own. www.ninestory.studio </p>
      </div>
    </div>
    <div class="row p-reletive" style="min-height:350px;">
      <div class="col-md-6">
        <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-035.png?v=1634038122" class="box10-left-img">
      </div>
      <div class="col-md-6">
        <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-036.png?v=1634038122" class="box10-right-img">
      </div>
    </div>
  </div>  
</div>

<div class="section-eleven my-5 p-reletive">
  <div class="container ">
    <h2 class="product-landing-title my-5">FAQs about Hanuman Chalisa</h2>
    <div class="row">
      <div class="col-md-9">
        <b>Following is a list of commonly asked questions for this Hanuman Chalisa Gift.
We have put all of them together here for your convenience.</b>
        <div class="row my-3">
          <div class="col-md-6">
            <p><b>1. What all is inside the box?</b></p>
            <p>Inside every gift box you will get One sculpted Hanuman
Chalisa Box, One miniature Hanuman Chalisa, One
Miniature Book Stand, One Instruction card on how to
slide the two pieces of, One Golden Cloth</p>
            <p><b>2. What is the box made of? Can it break?</b></p>
            <p>The box is sculpted in polyresin. It will not break in
everyday general use but if it falls from the hand on the
floor it may chip or break depending on the surface.</p>
            <p><b>3. Is the box made of metal?</b></p>
            <p>No the box is not made of metal it is made of Polyresin</p>
            <p><b>4. What does the Hanuman Chalisa Book contain?</b></p>
            <p>The miniature hanuman chalisa book contains the entire
hanuman challisi in hindi and its translation in english.
Every Chalisi has its own custom art drawn by Devdutt
himself.</p>
          </div>
          <div class="col-md-6">
            <p><b>5. Will the colors fade away after sometime?</b></p>
            <p>No, we have used very special colors and even done a
protective coating on top of the box</p>
            <p><b>6. What is the best way to maintain this gift box.</b></p>
            <p>Please do not use any chemical cleaner of any sorts on
the box. The protective top layer will go away. Just wipe it
with dry cloth or at max with a moist cloth. Please do not
wash the box.</p>
            <p><b>7. I want to buy it in bulk. Who can I connect with?</b></p>
            <p>Please write to us at myindia@devdutt.com and one of
us will assist you for your requirement. If you want to buy
25 or less pieces please buy it online itself as we always
have our best pricing online. Additionally, if you subscribe
to our newsletter we offer promotions on a weekly basis
on different product range which you can apply</p>
          </div>
        </div>
      </div>		    
      <div class="col-md-3">
        <img src="https://cdn.shopify.com/s/files/1/0286/6508/6083/files/image-027.png?v=1634041011" class="box11-img">
      </div>
    </div>
  </div>  
</div>


<!-- Scripts -->
  <script src="{{ 'jquery-2.2.3.min.js' | asset_url }}"></script>
  <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}"></script>
  <script src="{{ 'owl-carousel.js' | asset_url }}"></script>
  <script src="{{ 'custom_rp.js' | asset_url }}"></script>

<style>
.main-banner .bg-image{
  background-image: url({{section.settings.background_image | img_url:'2048x'}});
  background-size: cover;
  background-position: top right;
  padding:110px;
  padding-bottom:300px;
}
@media(max-width:768px){
  .main-banner .bg-image{
    background-position: center;
    padding:0;
    padding-top:0;
  }
}
  
</style>
</body>
</html>

{% schema %}
{
  "name": "landing page section",
  "class": "landing-page-section",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    },
    {
      "id": "product_2",
      "type": "product",
      "label": "Product second"
    },
	{
    "id": "background_image",
    "type": "image_picker",
    "label": "Background image",
    "info": "1800x1000 recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Shree Hanuman Chalisa"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Gift the unforgettable."
    },
    {
      "type": "text",
      "id": "sub_title_2",
      "label": "Sub Heading 2",
      "default": "Your gift will be Loved. Always."
    },
    {
      "id": "box1image",
      "type": "image_picker",
      "label": "Box 1 image",
      "info": "1800x1000 recommended"
    }
	],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "product1",
          "type": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "enable_video_autoplay",
          "label": "Enable autoplay for product videos",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_dcb",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "product_cart_redirect",
          "label": "Enable cart redirection",
          "info": "Automatically sends users to the Cart page after adding a product.",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_hover_zoom",
          "label": "Enable roll-over zoom",
          "info": "Uses the \"replace image\" style and applies to desktop screen sizes only.",
          "default": false
        }
      ]
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
