<style>
  #sn-aside {
    background: {% if section.settings.bg %}url({{section.settings.bg | img_url:'1920x'}}){% endif %}{% if section.settings.section-bg == '' %} var(--bg-color){% else %}{{section.settings.section-bg}}{% endif %};
      background-size: cover;
      background-attachment: {{section.settings.bg_attachment}};
      background-position: {{section.settings.bg_position}};
      }

  #sn-aside:after{
    background: {% if section.settings.overlay_bg %}url({{section.settings.overlay_bg | img_url:'1920x'}}){% endif %}{% if section.settings.overlay_color %}{{section.settings.overlay_color}}{% endif %};
    opacity: {{section.settings.overlay_opacity}};
    mix-blend-mode: {{section.settings.blend}};
    -webkit-mix-blend-mode:{{section.settings.blend}} ;
    -moz-mix-blend-mode:{{section.settings.blend}} ;
    background-size: cover;
    background-attachment: {{section.settings.bg_attachment2}};
    background-position: {{section.settings.bg_position2}};
  }
  {% if section.settings.image %}
  .sn-aside-img{
    background: url({{section.settings.image | img_url:'960x'}}) no-repeat center center;
    background-size: cover;
  }
  {% endif %}
  @media screen and (max-width: 767px){
    .sn-product-wrap{
      max-width: calc(50% - 10px);
    }
    #sn-aside .landing h2{
      margin-bottom: 0;
    }
    .sn-price del{
      width: 100%;
      display: block;
    }
  }
</style>

<div class="landing">
<section id="sn-aside" class="sn-section {% if section.settings.theme == 'light' %} light{% endif %}{% if section.settings.theme == 'dark' %} dark{% endif %}">
  <div class="sn-aside-img">

    </div>
  <div class="sn-container sn-vcenter">
    <div class="sn-aside-spacer">
      <span></span>
    </div>
    <div class="sn-aside-text">
      {% if section.settings.heading %}
      <h2>{{section.settings.heading}}</h2>
      {% endif %}
      {% if section.settings.text %}
      {{section.settings.text}}
      {% endif %}
      <ul class="sn-list">
        {% for block in section.blocks %}
        <li>{{block.settings.feature}}</li>
        {% endfor %}        
      </ul>
      {% if section.settings.btn %}
      <a href="#sn-collection" class="sn-btn">{{section.settings.btn}}</a>
      {% endif %}
    </div>    
  </div>
</section>
</div>
<!-- sn banner -->

{% schema %}
  {
    "name": "Columns - custom",
    "settings": [
		{
          "type": "radio",
          "id": "theme",
          "label": "Color Theme",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ],
          "default": "light"
        },
		{
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Heading goes here"
		},
		{
          "type":"richtext",
          "id":"text",
          "label":"Description",
          "default":"<p>lorem ipsum description goes here</p>"
		},
		{
          "type":"text",
          "id":"btn",
          "label":"Button Text",
          "default":"Order Now"
		},
		{
          "type":"color",
          "id":"section-bg",
          "label":"Background color"
		},
		{
          "type":"image_picker",
          "id":"image",
          "label":"Feature image"
		},
		{
          "type":"image_picker",
          "id":"bg",
          "label":"Background image"
		},
		{
          "type":"select",
          "id":"bg_attachment",
          "label":"Background attachment",
          "options":[
				{
					"value":"fixed",
					"label":"Fixed"
				},
				{
					"value":"scroll",
					"label":"Scroll"
				}
          ],
          "default":"scroll"
		},
		{
          "type":"select",
          "id":"bg_position",
          "label":"Background position",
          "options":[
				{
					"value":"center center",
					"label":"center center"
				},
				{
					"value":"top center",
					"label":"top center"
				},
				{
					"value":"bottom center",
					"label":"bottom center"
				},
				{
					"value":"center left",
					"label":"center left"
				},
				{
					"value":"top left",
					"label":"top left"
				},
				{
					"value":"bottom left",
					"label":"bottom left"
				},
				{
					"value":"center right",
					"label":"center right"
				},
				{
					"value":"top right",
					"label":"top right"
				},
				{
					"value":"bottom right",
					"label":"bottom right"
				}
          ],
          "default":"center center"
		},
		{
          "type":"color",
          "id":"overlay_color",
          "label":"Background overlay color"
		},
		{
          "type":"image_picker",
          "id":"overlay_bg",
          "label":"Background overlay"
		},
		{
          "type":"select",
          "id":"bg_attachment2",
          "label":"Background attachment",
          "options":[
				{
					"value":"fixed",
					"label":"Fixed"
				},
				{
					"value":"scroll",
					"label":"Scroll"
				}
          ],
          "default":"scroll"
		},
		{
          "type":"select",
          "id":"bg_position2",
          "label":"Background position",
          "options":[
				{
					"value":"center center",
					"label":"center center"
				},
				{
					"value":"top center",
					"label":"top center"
				},
				{
					"value":"bottom center",
					"label":"bottom center"
				},
				{
					"value":"center left",
					"label":"center left"
				},
				{
					"value":"top left",
					"label":"top left"
				},
				{
					"value":"bottom left",
					"label":"bottom left"
				},
				{
					"value":"center right",
					"label":"center right"
				},
				{
					"value":"top right",
					"label":"top right"
				},
				{
					"value":"bottom right",
					"label":"bottom right"
				}
          ],
          "default":"center center"
		},
		{
          "type": "range",
          "id": "overlay_opacity",
          "min": 0.1,
          "max": 1.0,
          "step": 0.1,
          "label": "Overlay opacity",
			"default":0.1
		},
		{
          "type": "select",
          "id": "blend",
          "label": "Overlay blend mode",
          "options": [
              {
                "value": "normal",
                "label": "Normal"
              },
              {
                "value": "multiply",
                "label": "Multiply"
              },
              {
                "value": "screen",
                "label": "Screen"
              },
              {
                "value": "overlay",
                "label": "Overlay"
              },
              {
                "value": "darken",
                "label": "Darken"
              },
              {
                "value": "lighten",
                "label": "Lighten"
              },
              {
                "value": "color-dodge",
                "label": "Color-dodge"
              },
              {
                "value": "color-burn",
                "label": "Color-burn"
              },
              {
                "value": "hard-light",
                "label": "Hard-light"
              },
              {
                "value": "soft-light",
                "label": "Soft-light"
              },
              {
                "value": "difference",
                "label": "Difference"
              },
              {
                "value": "exclusion",
                "label": "Exclusion"
              },
              {
                "value": "hue",
                "label": "Hue"
              },
              {
                "value": "saturation",
                "label": "Saturation"
              },
              {
                "value": "color",
                "label": "Color"
              },
              {
                "value": "luminosity",
                "label": "Luminosity"
              }
          ],
          "default": "normal"
		}         
	],
	"blocks":[
		{
			"type":"feature",
			"name":"Feature",
			"settings":[
				{
					"type":"text",
					"id":"feature",
					"label":"Feature text",
					"default":"<strong>Feature:</strong> goes here"
				}
			]
		}
	],
    "presets": [
      {
        "name": "Columns - custom",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
